Observer
watchdog
playsound
plyer
pandas
tushare
matplotlib
baostock
akshare
pywencai
streamlit
chinese_calendar
plotly
pymysql
xlsxwriter
selenium
mysql-connector-python
pydub
simpleaudio
scipy
deepseek
mootdx
sqlalchemy
pytdx
scikit-learn
efinance
pyautogui
easytrader
pywin32
gradio
pandas_ta
scikit-learn
xgboost
graphviz
feedparser
