Observer
watchdog
playsound
plyer
pandas
tushare
matplotlib
baostock
akshare
pywencai
streamlit
chinese_calendar
plotly
pymysql
xlsxwriter
selenium
mysql-connector-python
pydub
simpleaudio
scipy
deepseek
